@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font */
$mainfont: "Roboto Mono", sans-serif; 
$secondaryfont: "Ubuntu Mono", monospace;
/* graphical effect */
$blackgray: rgb(45, 45, 45);
$white: rgb(255, 255, 255);
$byzantine: rgb(112, 41, 99);
$blue: rgba(0, 0, 255, 0.5);
/* functions */