@use "variables" as *;

*{
    box-sizing: border-box;
}
input{
    cursor: pointer;
}
main, aside {
    font-family: $mainfont;
}
header, footer {
    font-family: $secondaryfont;
}
nav {
    display: grid;
    gap: 1rem;
    background: $white;
    padding: 1rem;
    li{
        list-style: none;
        padding: 1rem;   
    }
    #logo{
       padding: 1.5rem; 
    }
}
#menu{
    display: flex;
    flex-wrap: nowrap;
}
/* main */
#banner{
    position: relative;
    text-align: center;
    background-size: cover;
    background-color: $byzantine;
    color: $white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    article{
        max-width: 600px;
    }
}
h2{
    font-size: 26px;
}
.kategorier{
    text-align: center;
    margin: 2rem 0px;
    list-style: none;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    #grid1{
        grid-area: 1 / 1 / 2 / 2;
    }
    #grid2{
        grid-area: 1 / 2 / 2 / 3;
    }
    #grid3{
        grid-area: 1 / 3 / 3 / 4;
    }
    #grid4{
        grid-area: 2 / 1 / 4 / 3;
    }
    #grid5{
        grid-area: 3 / 3 / 4 / 4;
    }
}
.kategorier h2, p{
    font-weight: bold;
    margin-bottom: 1rem;
}
.product{
    text-align: center;
    margin: 2rem 0px;
    h2, p{
        font-weight: bold;
        margin-bottom: 1rem;
    }
}
#new, #special, #best{
    display: none;
}
.button{
    padding: 1rem 2rem;
    background-color: $white;
    border: 2px solid $blackgray;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
input[type="radio"]:checked + .button{
    background-color: $blackgray;
    color: $white;
}
img{
    width: 100%;
    max-width: 600px;
}
#bknapp{
    padding: 0.5rem 1rem;
    background: $blackgray;
    color: $white;
    border: none;
    cursor: pointer;
}
/* review */

/*desktop*/
@media only screen and (min-width:800px){
    .fa-bars{
        display: none;
    }
    #menu{
        display: flex !important;
    }
    header{
        text-align: center;
    }
}
/*mobile*/
@media only screen and (max-width:800px){
    #menu{
        display: flex;
    }
}